[Unit]
Description=PCtracker Client Service

[Service]
WorkingDirectory=/opt/pctracker_client
ExecStart=/usr/bin/python3 main.py
Restart=on-abort

[Install]
WantedBy=multi-user.target

